flask
flask-cors
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests


urllib3>=2.5.0 
aws-xray-sdk

watchtower


#RollBar
blinker
rollbar
requests>=2.32.4 

python-jose

psycopg[binary]
psycopg[pool]

gunicorn==23.0.0

boto3




zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
